
user  www www;
worker_processes  "{{ worker_processes }}";
pid   /var/run/nginx.pid;

events {
    worker_connections  1024;
    use  kqueue;
}

http {

    include       mime.types;
    default_type  application/octet-stream;

    server_tokens   off;

    sendfile        on;
    autoindex       off;

    keepalive_timeout  10;

    include /usr/local/etc/nginx/sites-enabled/*;
}
